<div class="well">
  <h1>{{title}}</h1>
  <form class="ContactForm" novalidate="true">
    <div class="form-group-row">
      <label for="input-name" class="col-sm-3 col-form-label text-sm-right">Name</label>
      <div class="col-sm-21">
        <input type="text" name="name" value="" id="input-name" placeholder="Name" class="form-control" />
      </div>
    </div>
  </form>
  <div class="clearfix"></div>

  <div class="app-content">
    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card class="app-input-section">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50" (keyUp)="onKeyup(nickname)">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>
  </div>
</div>
<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
