/**
*
* layout.scss
*
* Contains all the styles of different contents
*
* This file is copyright ish group, Australia.
* It is licensed to you under the Apache License, version 2.0
* and is part of ish onCourse.
*
* Author: Chintan Kotadia
*/

body {
  background: $base-background-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}
.page-wrapper {
  margin-top: 54px;
  padding-top: 15px;
}
.list-rows {
  >.row{
    border-top: 1px solid #eceeef;
    padding: 0.25rem;
    font-size: 14px;
    cursor: pointer;
    &:nth-of-type(odd) {
      background: rgba(0,0,0,.05);;
    }
    >div {
      .loader-image {
        position: absolute;
        top: 0.5px;
        right: 2px;
      }
    }
  }
}
.auto-complete {
  position: relative;
  >.form-control {
    padding-right: 35px;
  }
  >.loader-image {
    position: absolute;
    top: 8.5px;
    right: 8.5px;
  }
  >div {
    background: #fff;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 207px;
    overflow: hidden;
    top: 36px;
    box-shadow: 1px 1px 10px 1px #ddd;
    border-radius: 5px;
    border: 1px solid #ddd;
    >ul {
      list-style: none;
      margin: 0;
      padding: 8px 5px;
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
      li {
        padding: 2px 9px;
        cursor: pointer;
        &:hover {
          background: #ececec;
          padding: 2px 9px;
          border-radius: 3px;
          box-shadow: 0px 0px 3px #ddd;
        }
        &.active-item {
          background: $base-text-color;
          color: #fff;
          border-radius: 3px;
          box-shadow: 0px 0px 3px $base-text-color;
        }
      }
    }
  }
}
.people-list {
  a.link-people {
    text-decoration: none;
    color: $black;
  }
}
.form-group {
  .input-box {
    position: relative;
    overflow: hidden;
    .input-tag {
      position: absolute;
      z-index: 1;
      width: 100%;
      top: -100%;
    }
    &.input-active {
      .input-edited {
        display: none;
      }
      .input-tag {
        position: relative;
        top: 0;
        display: table-cell;
        border-radius: .3rem;
        padding: .5rem .75rem;
        line-height: 1.25rem;
        font-size: 1rem;
      }
    }
  }

  .input-edited {
    cursor: text;
    padding: .5rem .75rem;
    line-height: 1.25rem;
    font-size: 1rem;
    border-radius: .3rem;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: block;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    &.text-empty {
      color: #999;
    }
    a {
      color: #55595c;
      text-decoration: none;
      &:hover {
        color: darken(#014c8c, 15%);
      }
    }
  }
}

.modal-full-page {
  .modal-backdrop {
    background: $white;
    opacity: 1;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    .modal-content {
      border-radius: 0;
      border: 0 none;
    }
  }
}
.search-wrapper {
  position: relative;
  >.loader-image {
    position: absolute;
    top: 9px;
    z-index: 3;
    right: 9px;
  }
  >.row {
    background: $white;
    box-shadow: 1px 1px 10px #ddd;
    .input-group {
      padding: 3px !important;
      .form-control {
        border: 0 none;
        padding: 6px 32px 6px 16px;
      }
    }
  }
}
.view-people, .view-company {
  position: relative;
  overflow: hidden;
  display: none;
  >.row-view {
    cursor: default;
    margin-top: 10px;
    padding: 15px 10px;
    background: #f9f9f9;
    box-shadow: 1px 1px 10px #ddd;
  }
}
.input-group-lg .form-control {
  padding: .65rem 1rem;
  font-size: 1rem;
}
span.company {
  padding-left: 20px;
  color: grey;
  font-size: 0.9em;
}